$fondo-principal:   #fffff6;
$color-crema: #ffffbf;
$color-amarillo:#f5e269;
$fondo-header: #fff0f0;
$color-text: #d12c5e;
$fondo-card: #fff0f0;
$color-card: #d12c5e;
$color-resaltado: #e2376a;
$color-carmin: #a2231d;
$color-confirmacion: #9ec024;
$sombra-color-resaltado: 1px 1px 0 rgba(209, 44, 94, 0.2);
$header-size: 4rem;
