@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  cursor: url(../image/cursor/cursor.png), auto;
}

a, button {
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

body {
  background-color: #fffff6;
}

main {
  padding-top: 7rem;
}

#marca {
  display: none;
}

#slogan {
  display: none;
}

/*_______________________________________HEADER________________________________________*/
header {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  background-color: #fff0f0;
  -webkit-box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.3), -3px 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.3), -3px 0 3px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /*_____________________________BOTONERA HEADER_________________________*/
}

header a img {
  height: 100%;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

header ul li {
  display: block;
  height: 100%;
  list-style-type: none;
  letter-spacing: 0.15rem;
  margin-right: 1rem;
  margin-top: auto;
  padding: 7px 10px;
  border: 1px solid rgba(209, 44, 94, 0.7);
  border-radius: 20px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header ul li input {
  border: none;
  background-color: #fff0f0;
  color: #d12c5e;
}

header ul li:hover {
  background-color: #e2376a;
}

header ul li a {
  display: block;
  text-decoration: none;
  color: #d12c5e;
}

header ul li a:hover {
  color: #ffffbf;
}

header ul li a img {
  height: 80%;
  border-radius: 50px;
}

header ul .carrito-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 6px;
}

header ul .carrito-btn img {
  width: 50%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

header ul .carrito-btn img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header ul .carrito-btn span {
  display: none;
}

/*_______________________________ index main (NOSOTROS)___________________________________*/
.nosotros #tituloCentral {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros #tituloCentral .carousel-personalizado {
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  position: relative;
}

.nosotros #tituloCentral .carousel-personalizado__imagen {
  width: 80%;
  height: 80%;
}

.nosotros #tituloCentral .marca-slogan {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.nosotros #tituloCentral .marca-slogan h1 {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 580;
  font-size: 3rem;
  color: #ffffbf;
  text-shadow: 1px 1px 1px rgba(209, 44, 94, 0.7);
}

.nosotros #tituloCentral .marca-slogan h2 {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffbf;
  text-shadow: 1px 1px 1px rgba(209, 44, 94, 0.7);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nosotros .saludoContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nosotros .saludoContainer p {
  color: #d12c5e;
  text-shadow: 1px 1px 0 rgba(184, 75, 108, 0.1);
  font-size: 1.3rem;
  line-height: 1.5;
}

.nosotros .saludoContainer p span {
  color: #e2376a;
  text-shadow: 1px 1px 0 rgba(209, 44, 94, 0.2);
}

.nosotros .saludoContainer p .sloganTwo {
  color: #e2376a;
  text-shadow: 1px 1px 0 rgba(209, 44, 94, 0.2);
  font-family: 'italianno', cursive;
  font-size: 2.2rem;
  font-weight: 500;
}

/*______________________________________________SECCION DESTACADOS index__________________________________*/
.destacados {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.destacados a {
  color: #d12c5e;
  font-weight: 600;
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  padding: 1rem;
  -webkit-box-shadow: inset -10px -10px 10px rgba(209, 44, 94, 0.4), inset -2px -2px 1px rgba(209, 44, 94, 0.7), inset 10px 10px 10px rgba(209, 44, 94, 0.4), inset 1px 1px 1px rgba(209, 44, 94, 0.7), -5px -5px 5px rgba(209, 44, 94, 0.2), -1px -1px 0 rgba(209, 44, 94, 0.9), 1px 1px 0 rgba(209, 44, 94, 0.9), 5px 5px 5px rgba(209, 44, 94, 0.2);
          box-shadow: inset -10px -10px 10px rgba(209, 44, 94, 0.4), inset -2px -2px 1px rgba(209, 44, 94, 0.7), inset 10px 10px 10px rgba(209, 44, 94, 0.4), inset 1px 1px 1px rgba(209, 44, 94, 0.7), -5px -5px 5px rgba(209, 44, 94, 0.2), -1px -1px 0 rgba(209, 44, 94, 0.9), 1px 1px 0 rgba(209, 44, 94, 0.9), 5px 5px 5px rgba(209, 44, 94, 0.2);
  text-decoration: none;
}

.destacados a:hover {
  color: #a2231d;
  -webkit-box-shadow: inset -15px -15px 15px rgba(162, 35, 29, 0.5), inset -4px -4px 2px rgba(162, 35, 29, 0.7), inset 15px 15px 15px rgba(162, 35, 29, 0.5), inset 2px 2px 2px rgba(162, 35, 29, 0.7), -5px -5px 5px rgba(162, 35, 29, 0.3), -1px -1px 0 rgba(162, 35, 29, 0.9), 1px 1px 0 rgba(162, 35, 29, 0.9), 5px 5px 5px rgba(162, 35, 29, 0.3);
          box-shadow: inset -15px -15px 15px rgba(162, 35, 29, 0.5), inset -4px -4px 2px rgba(162, 35, 29, 0.7), inset 15px 15px 15px rgba(162, 35, 29, 0.5), inset 2px 2px 2px rgba(162, 35, 29, 0.7), -5px -5px 5px rgba(162, 35, 29, 0.3), -1px -1px 0 rgba(162, 35, 29, 0.9), 1px 1px 0 rgba(162, 35, 29, 0.9), 5px 5px 5px rgba(162, 35, 29, 0.3);
}

.otrosProductos {
  height: 10rem;
}

footer {
  background-color: #fff0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .redes ul li {
  margin: 1rem;
  list-style-type: none;
  display: block;
}

footer .redes ul li a img {
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

footer .legales {
  margin: 1rem;
  color: #e2376a;
}

/*_______________________________________________productos.html_____________________________________*/
#tituloCatalogo {
  width: 80%;
  margin: auto;
}

#tituloCatalogo h1 {
  color: #d12c5e;
  font-family: 'italianno',cursive;
  font-size: 3rem;
  margin-left: 2rem;
}

#tituloCatalogo p {
  color: #d12c5e;
  font-size: 1.3rem;
  font-weight: 500;
}

#tituloCatalogo p span {
  color: #e2376a;
}

#sectionCatalogo {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.catalogo {
  background-color: #fff0f0;
  width: auto;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 0px #ffcbdb, inset 10px 10px 10px rgba(255, 203, 219, 0.7), inset -10px -10px 10px rgba(255, 203, 219, 0.7), -2px -2px 0px #ffcbdb;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 0px #ffcbdb, inset 10px 10px 10px rgba(255, 203, 219, 0.7), inset -10px -10px 10px rgba(255, 203, 219, 0.7), -2px -2px 0px #ffcbdb;
  overflow: hidden;
  margin: 0.8rem;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.catalogo:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.catalogo__foto {
  width: 100%;
  height: auto;
}

.catalogo__productName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalogo__productName--nombre {
  font-size: 1.5rem;
  color: #d12c5e;
  text-shadow: -2px -1px rgba(255, 255, 191, 0.8), 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.catalogo__productName--marca {
  color: #d12c5e;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.catalogo__talle {
  background-color: #ffffbf;
  color: #e2376a;
  height: 1.5rem;
  font-weight: 600;
  border: 1px solid #d12c5e;
}

.catalogo__option {
  background-color: #ffffbf;
  color: #d12c5e;
  font-weight: 600;
}

.catalogo__precio {
  color: #d12c5e;
}

.catalogo__compras {
  border-radius: 50px;
}

.catalogo__compras img {
  width: 50%;
}

.catalogo__compras:hover {
  border: 2px solid rgba(209, 44, 94, 0.7);
}

/*__________________ESTILOS CARRITO____________________________________________*/
/*Botón de carrito en el header*/
.toggle-btn {
  background-color: #fff0f0;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

.toggle-btn img {
  width: 50%;
  height: 50%;
  border-radius: 40px;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

.toggle-btn span {
  font-size: 1.5rem;
  color: #d12c5e;
}

/*Sidebar - carrito*/
#sidebar-bkground {
  position: fixed;
  top: 4rem;
  width: 100%;
  height: 100%;
  background-color: #a2231d;
  opacity: 0.5;
  right: -100rem;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#sidebar-bkground.active {
  right: 0;
}

#sidebar {
  position: fixed;
  top: 4rem;
  width: 25rem;
  height: 90%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  overflow: scroll;
  right: -25rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(233, 186, 188, 0)), color-stop(1%, #ffd2d2), to(#ffd2d2));
  background: linear-gradient(90deg, rgba(233, 186, 188, 0) 0%, #ffd2d2 1%, #ffd2d2 100%);
  -webkit-box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -15px 0 15px rgba(0, 0, 0, 0.1), inset 5px 0 5px rgba(0, 0, 0, 0.2), inset 10px 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -15px 0 15px rgba(0, 0, 0, 0.1), inset 5px 0 5px rgba(0, 0, 0, 0.2), inset 10px 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#sidebar .miCarrito {
  top: 0;
  height: 20%;
  margin-bottom: 2rem;
}

#sidebar .miCarrito h5 {
  font-family: 'fleur de leah', cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #d12c5e;
  margin-top: 2rem;
}

#sidebar div .precioProducto {
  font-family: 'italianno' , cursive;
  font-size: 2rem;
  color: #d12c5e;
}

#sidebar div .precioProducto #precioTotal {
  font-size: 1.2rem;
}

#sidebar.active {
  right: 0;
}

#sidebar .divCarrito {
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #d12c5e;
  min-height: 10rem;
      grid-template-areas: "imagen nombre nombre" "imagen marca marca" "imagen talle cantidad" "imagen precio precio" "imagen eliminar eliminar";
}

#sidebar .divCarrito__img {
  width: 6rem;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: imagen;
}

#sidebar .divCarrito__nombre {
  margin-left: 1rem;
  color: #d12c5e;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: nombre;
}

#sidebar .divCarrito__marca {
  margin-left: 1rem;
  color: #d12c5e;
  font-style: italic;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: marca;
}

#sidebar .divCarrito__talle {
  margin-left: 1rem;
  color: #d12c5e;
  font-style: italic;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: talle;
}

#sidebar .divCarrito__precio {
  margin-left: 1rem;
  color: #e2376a;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: precio;
}

#sidebar .divCarrito__cantidad {
  margin-left: 1rem;
  color: #d12c5e;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cantidad;
}

#sidebar .divCarrito .botonEliminar {
  margin: 0 auto 2rem auto;
  background-color: #a2231d;
  color: #ffffbf;
  font-style: 'italianno', cursive;
  border: 1px solid rgba(100, 100, 100, 0.3);
  padding: 4px;
  opacity: 0.8;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: eliminar;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#sidebar .divCarrito .botonEliminar:hover {
  opacity: 1;
}

#sidebar .medioPago {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .medioPago h5 {
  color: #d12c5e;
}

#sidebar .medioPago input[type="radio"] {
  display: none;
}

#sidebar .medioPago input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: rgba(209, 44, 94, 0.8);
  border-radius: 2px;
  color: #ffffbf;
}

#sidebar .medioPago input[type="radio"]:checked + label::before {
  display: none;
}

#sidebar .medioPago label {
  cursor: url(../image/cursor/cursor_mano.png), auto;
  font-size: 1rem;
  border-radius: 3px;
  color: #d12c5e;
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#sidebar .medioPago label:hover {
  background-color: rgba(209, 44, 94, 0.2);
}

#sidebar .medioPago label:before {
  content: "";
  height: 17px;
  width: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #d12c5e;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 10px;
}

#sidebar .botoneraSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

#sidebar .botoneraSidebar #btn-cerrar {
  margin-right: 1rem;
  width: 7.5rem;
  height: 4rem;
  padding: 0.5rem;
  font-family: 'italianno', cursive;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background-color: #a2231d;
  color: #ffffbf;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#sidebar .botoneraSidebar #btn-confirm {
  width: 7.5rem;
  height: 4rem;
  padding: 0.5rem;
  font-family: 'italianno', cursive;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background-color: #9ec024;
  color: #ffffbf;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#sidebar .botoneraSidebar #btn-confirm span {
  font-family: 'fleur de leah', cursive;
}

.static-header {
  position: absolute;
  top: 0;
  left: 0;
}

.tj-main {
  background-color: #fffff6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*Contenedor principal TARJETA*/
}

.tj-main .tj-container {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Boton desplegar formulario*/
}

.tj-main .tj-container .tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: url(../image/cursor/cursor_mano.png), auto;
  z-index: 2;
  /*__________________________ESTILOS DELANTEROS TARJETA___________________________*/
  /*_____________________________ESTILOS TRASEROS TARJETA DE CREDITO______________________*/
}

.tj-main .tj-container .tarjeta.tj-active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tj-main .tj-container .tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
          box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

.tj-main .tj-container .tarjeta .tj-anverso {
  width: 100%;
  background: url(../image/tarjeta/fondo_tc.jpg);
  background-size: cover;
}

.tj-main .tj-container .tarjeta .tj-anverso .tj-logo {
  text-align: right;
  min-height: 50px;
}

.tj-main .tj-container .tarjeta .tj-anverso .tj-logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80px;
}

.tj-main .tj-container .tarjeta .tj-anverso .tj-chip {
  max-height: 60px;
  width: 100%;
  max-width: 80px;
  margin-bottom: 20px;
}

.tj-main .tj-container .tarjeta .tj-anverso .grupo .tj-label {
  font-family: 'Courier Prime', monospace;
  font-size: 1.1rem;
  color: goldenrod;
  text-shadow: 2px 1px 0 rgba(50, 50, 50, 0.9), -1px -2px 0 rgba(50, 50, 50, 0.9);
  margin-bottom: 5px;
  font-weight: 500;
}

.tj-main .tj-container .tarjeta .tj-anverso .grupo .tj-numero {
  font-family: 'Courier Prime', monospace;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.tj-main .tj-container .tarjeta .tj-anverso .grupo .tj-nombre {
  font-family: 'Courier Prime', monospace;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.tj-main .tj-container .tarjeta .tj-anverso .grupo .tj-vencimiento {
  font-family: 'Courier Prime', monospace;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.tj-main .tj-container .tarjeta .tj-anverso .grupo .tj-vencimiento span {
  font-family: 'Courier Prime', monospace;
}

.tj-main .tj-container .tarjeta .tj-anverso .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.tj-main .tj-container .tarjeta .tj-reverso {
  background: url(../image/tarjeta/fondo_tc.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tj-main .tj-container .tarjeta .tj-reverso .barraMagnetica {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos p {
  margin-bottom: 5px;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #firma {
  width: 70%;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #firma .tj-label {
  font-family: 'Courier Prime', monospace;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #firma .tj-firma {
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #firma .tj-firma p {
  line-height: 40px;
  font-family: 'Mr Dafoe', cursive;
  color: #000;
  font-size: 1.9rem;
  padding: 0 10px;
  text-transform: capitalize;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #cvv {
  width: 20%;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-datos #cvv .cvv {
  background: #fff;
  height: 40px;
  color: #000;
  padding: 10px;
  text-align: center;
}

.tj-main .tj-container .tarjeta .tj-reverso .tj-leyenda {
  font-family: 'Courier Prime', monospace;
  font-size: 0.9rem;
  line-height: 24px;
}

.tj-main .tj-container .tarjeta .tj-reverso .link-banco {
  font-family: 'Courier Prime', monospace;
  font-size: 0.9rem;
  color: #fff;
}

.tj-main .tj-container .contenedor-btn .btn-abrir-form {
  width: 50px;
  height: 50px;
  background: #e2376a;
  position: relative;
  top: -25px;
  z-index: 3;
  border-radius: 100%;
  -webkit-box-shadow: -5px 4px 8px rgba(90, 116, 148, 0.4);
          box-shadow: -5px 4px 8px rgba(90, 116, 148, 0.4);
  padding: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

.tj-main .tj-container .contenedor-btn .btn-abrir-form img {
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

.tj-main .tj-container .contenedor-btn .btn-abrir-form:hover {
  background: #d12c5e;
}

.tj-main .tj-container .contenedor-btn .btn-abrir-form.btn-active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.formulario-tarjeta {
  background: #ffffbf;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path 0.3s ease-out;
  transition: -webkit-clip-path 0.3s ease-out;
  transition: clip-path 0.3s ease-out;
  transition: clip-path 0.3s ease-out, -webkit-clip-path 0.3s ease-out;
}

.formulario-tarjeta.form-active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
  display: block;
  color: #d12c5e;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.formulario-tarjeta input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-tarjeta select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.formulario-tarjeta input, .formulario-tarjeta select, .formulario-tarjeta .btn-enviar {
  border: 2px solid #fff0f0;
  font-size: 1.1rem;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
  border-radius: 5px;
}

.formulario-tarjeta input:hover, .formulario-tarjeta select:hover {
  border: 2px solid #e2376a;
}

.formulario-tarjeta input:focus, .formulario-tarjeta select:focus {
  outline: #040404;
  -webkit-box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
          box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formulario-tarjeta .vencimiento-form {
  width: 100%;
}

.formulario-tarjeta .cvv {
  min-width: 100px;
}

.formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-tarjeta .grupo-select img {
  position: absolute;
  top: 18px;
  right: 15px;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.formulario-tarjeta .btn-enviar {
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background: #9ec024;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
          box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

.formulario-tarjeta .btn-enviar:hover {
  background: #91a523;
}

.footer-tarjeta {
  position: absolute;
  bottom: -500px;
  width: 100%;
}

/*CIERRE TARJETA (MODAL)*/
#tj-modal {
  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  background: rgba(209, 44, 94, 0.3);
  border: 2px solid #d12c5e;
  position: relative;
  top: 150px;
  z-index: 4;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

#tj-modal.active {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#tj-modal .tj-cierre {
  background: rgba(255, 240, 240, 0.9);
  margin: 5% auto 0 auto;
  width: 80%;
  min-width: 400px;
  height: 100%;
  min-height: 300px;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 240, 240, 0.8), 1px 1px 1px 1px rgba(255, 240, 240, 0.7), 3px 3px 3px 3px rgba(255, 240, 240, 0.5), 5px 5px 5px 5px rgba(255, 240, 240, 0.3), inset -1px -1px 1px 1px rgba(255, 240, 240, 0.8), -1px -1px 1px 1px rgba(255, 240, 240, 0.7), -3px -3px 3px 3px rgba(255, 240, 240, 0.5), -5px -5px 5px 5px rgba(255, 240, 240, 0.3);
          box-shadow: inset 1px 1px 1px 1px rgba(255, 240, 240, 0.8), 1px 1px 1px 1px rgba(255, 240, 240, 0.7), 3px 3px 3px 3px rgba(255, 240, 240, 0.5), 5px 5px 5px 5px rgba(255, 240, 240, 0.3), inset -1px -1px 1px 1px rgba(255, 240, 240, 0.8), -1px -1px 1px 1px rgba(255, 240, 240, 0.7), -3px -3px 3px 3px rgba(255, 240, 240, 0.5), -5px -5px 5px 5px rgba(255, 240, 240, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tj-modal .tj-cierre .tj-modal-title {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'fleur de leah', cursive;
  color: #d12c5e;
}

#tj-modal .tj-cierre #orderNumber {
  width: 100%;
}

#tj-modal .tj-cierre #orderNumber .codigoCompra {
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: right;
}

#tj-modal .tj-cierre #orderNumber .codigoCompra p {
  font-size: 2rem;
  color: #d12c5e;
}

#tj-modal .tj-cierre #orderNumber .codigoCompra p span {
  color: #e2376a;
}

#tj-modal .tj-cierre .tj-cierre-btn {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  background: #9ec024;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
          box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#tj-modal .tj-cierre .tj-cierre-btn:hover {
  background: #91a523;
}

/*CIERRE TARJETA (MODAL)*/
#carrito-modal {
  width: 100%;
  max-width: 1000px;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  background: rgba(209, 44, 94, 0.3);
  border: 2px solid #d12c5e;
  position: fixed;
  top: 100px;
  left: 10%;
  z-index: 5;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

#carrito-modal.active {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

#carrito-modal .carrito-cierre {
  background: rgba(255, 240, 240, 0.9);
  margin: 5% auto 0 auto;
  width: 80%;
  min-width: 400px;
  height: 100%;
  min-height: 300px;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 240, 240, 0.8), 1px 1px 1px 1px rgba(255, 240, 240, 0.7), 3px 3px 3px 3px rgba(255, 240, 240, 0.5), 5px 5px 5px 5px rgba(255, 240, 240, 0.3), inset -1px -1px 1px 1px rgba(255, 240, 240, 0.8), -1px -1px 1px 1px rgba(255, 240, 240, 0.7), -3px -3px 3px 3px rgba(255, 240, 240, 0.5), -5px -5px 5px 5px rgba(255, 240, 240, 0.3);
          box-shadow: inset 1px 1px 1px 1px rgba(255, 240, 240, 0.8), 1px 1px 1px 1px rgba(255, 240, 240, 0.7), 3px 3px 3px 3px rgba(255, 240, 240, 0.5), 5px 5px 5px 5px rgba(255, 240, 240, 0.3), inset -1px -1px 1px 1px rgba(255, 240, 240, 0.8), -1px -1px 1px 1px rgba(255, 240, 240, 0.7), -3px -3px 3px 3px rgba(255, 240, 240, 0.5), -5px -5px 5px 5px rgba(255, 240, 240, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#carrito-modal .carrito-cierre .carrito-modal-title {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'fleur de leah', cursive;
  color: #d12c5e;
}

#carrito-modal .carrito-cierre #orderNumber {
  width: 100%;
}

#carrito-modal .carrito-cierre #orderNumber .codigoCompra {
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: right;
}

#carrito-modal .carrito-cierre #orderNumber .codigoCompra p {
  font-size: 2rem;
  color: #d12c5e;
}

#carrito-modal .carrito-cierre #orderNumber .codigoCompra p span {
  color: #e2376a;
}

#carrito-modal .carrito-cierre .carrito-cierre-btn {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  background: #9ec024;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
          box-shadow: 2px 2px 10px 0 rgba(145, 165, 35, 0.4);
  cursor: url(../image/cursor/cursor_mano.png), auto;
}

#carrito-modal .carrito-cierre .carrito-cierre-btn:hover {
  background: #91a523;
}
/*# sourceMappingURL=estilos.css.map */