@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffff6;
}

main {
  padding-top: 7rem;
}

#marca {
  display: none;
}

#slogan {
  display: none;
}

/*_______________________________________HEADER________________________________________*/
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 4rem;
  background-color: #fff0f0;
  -webkit-box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.3), -3px 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: -15px 0 15px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.3), -3px 0 3px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /*_____________________________BOTONERA HEADER_________________________*/
}

header a img {
  height: 100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  display: inline-block;
  height: 100%;
  list-style-type: none;
  letter-spacing: 0.15rem;
  margin-right: 1rem;
  padding: 3px 6px;
  border: 1px solid rgba(209, 44, 94, 0.7);
  border-radius: 20px;
}

header ul li input {
  border: none;
  background-color: #fff0f0;
  color: #d12c5e;
}

header ul li:hover {
  background-color: #e2376a;
}

header ul li a {
  text-decoration: none;
  color: #d12c5e;
}

header ul li a:hover {
  color: #ffffbf;
}

header ul li a img {
  height: 80%;
  border-radius: 50px;
}

/*_______________________________ index main (NOSOTROS)___________________________________*/
.nosotros #tituloCentral {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros #tituloCentral .carousel-personalizado {
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  position: relative;
}

.nosotros #tituloCentral .carousel-personalizado__imagen {
  width: 80%;
  height: 80%;
}

.nosotros #tituloCentral .marca-slogan {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.nosotros #tituloCentral .marca-slogan h1 {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 580;
  font-size: 3rem;
  color: #ffffbf;
  text-shadow: 1px 1px 1px rgba(209, 44, 94, 0.7);
}

.nosotros #tituloCentral .marca-slogan h2 {
  font-family: 'Fleur De Leah', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffbf;
  text-shadow: 1px 1px 1px rgba(209, 44, 94, 0.7);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nosotros .saludoContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nosotros .saludoContainer p {
  color: #d12c5e;
  text-shadow: 1px 1px 0 rgba(184, 75, 108, 0.1);
  font-size: 1.3rem;
  line-height: 1.5;
}

.nosotros .saludoContainer p span {
  color: #e2376a;
  text-shadow: 1px 1px 0 rgba(209, 44, 94, 0.2);
}

.nosotros .saludoContainer p .sloganTwo {
  color: #e2376a;
  text-shadow: 1px 1px 0 rgba(209, 44, 94, 0.2);
  font-family: 'italianno', cursive;
  font-size: 2.2rem;
  font-weight: 500;
}

/*______________________________________________SECCION DESTACADOS index__________________________________*/
.destacados {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.destacados a {
  color: #d12c5e;
  font-weight: 600;
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  padding: 1rem;
  -webkit-box-shadow: inset -10px -10px 10px rgba(209, 44, 94, 0.4), inset -2px -2px 1px rgba(209, 44, 94, 0.7), inset 10px 10px 10px rgba(209, 44, 94, 0.4), inset 1px 1px 1px rgba(209, 44, 94, 0.7), -5px -5px 5px rgba(209, 44, 94, 0.2), -1px -1px 0 rgba(209, 44, 94, 0.9), 1px 1px 0 rgba(209, 44, 94, 0.9), 5px 5px 5px rgba(209, 44, 94, 0.2);
          box-shadow: inset -10px -10px 10px rgba(209, 44, 94, 0.4), inset -2px -2px 1px rgba(209, 44, 94, 0.7), inset 10px 10px 10px rgba(209, 44, 94, 0.4), inset 1px 1px 1px rgba(209, 44, 94, 0.7), -5px -5px 5px rgba(209, 44, 94, 0.2), -1px -1px 0 rgba(209, 44, 94, 0.9), 1px 1px 0 rgba(209, 44, 94, 0.9), 5px 5px 5px rgba(209, 44, 94, 0.2);
  text-decoration: none;
}

.destacados a:hover {
  color: #a2231d;
  -webkit-box-shadow: inset -15px -15px 15px rgba(162, 35, 29, 0.5), inset -4px -4px 2px rgba(162, 35, 29, 0.7), inset 15px 15px 15px rgba(162, 35, 29, 0.5), inset 2px 2px 2px rgba(162, 35, 29, 0.7), -5px -5px 5px rgba(162, 35, 29, 0.3), -1px -1px 0 rgba(162, 35, 29, 0.9), 1px 1px 0 rgba(162, 35, 29, 0.9), 5px 5px 5px rgba(162, 35, 29, 0.3);
          box-shadow: inset -15px -15px 15px rgba(162, 35, 29, 0.5), inset -4px -4px 2px rgba(162, 35, 29, 0.7), inset 15px 15px 15px rgba(162, 35, 29, 0.5), inset 2px 2px 2px rgba(162, 35, 29, 0.7), -5px -5px 5px rgba(162, 35, 29, 0.3), -1px -1px 0 rgba(162, 35, 29, 0.9), 1px 1px 0 rgba(162, 35, 29, 0.9), 5px 5px 5px rgba(162, 35, 29, 0.3);
}

.otrosProductos {
  height: 10rem;
}

footer {
  background-color: #fff0f0;
}

/*_______________________________________________productos.html_____________________________________*/
#tituloCatalogo {
  width: 80%;
  margin: auto;
}

#tituloCatalogo h1 {
  color: #d12c5e;
  font-family: 'italianno',cursive;
  font-size: 3rem;
  margin-left: 2rem;
}

#tituloCatalogo p {
  color: #d12c5e;
  font-size: 1.3rem;
  font-weight: 500;
}

#tituloCatalogo p span {
  color: #e2376a;
}

#sectionCatalogo {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.catalogo {
  background-color: #fff0f0;
  width: auto;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 0px #ffcbdb, inset 10px 10px 10px rgba(255, 203, 219, 0.7), inset -10px -10px 10px rgba(255, 203, 219, 0.7), -2px -2px 0px #ffcbdb;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 0px #ffcbdb, inset 10px 10px 10px rgba(255, 203, 219, 0.7), inset -10px -10px 10px rgba(255, 203, 219, 0.7), -2px -2px 0px #ffcbdb;
  overflow: hidden;
  margin: 0.8rem;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.catalogo:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.catalogo__foto {
  width: 100%;
  height: auto;
}

.catalogo__productName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalogo__productName--nombre {
  font-size: 1.5rem;
  color: #d12c5e;
  text-shadow: -2px -1px rgba(255, 255, 191, 0.8), 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.catalogo__productName--marca {
  color: #d12c5e;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.catalogo__precio {
  color: #d12c5e;
}

.catalogo__compras {
  border-radius: 50px;
}

.catalogo__compras img {
  width: 50%;
}

.catalogo__compras:hover {
  border: 2px solid rgba(209, 44, 94, 0.7);
}

/*__________________ESTILOS CARRITO____________________________________________*/
/*Botón de carrito en el header*/
.toggle-btn {
  background-color: #fff0f0;
  cursor: pointer;
}

.toggle-btn img {
  width: 50%;
  height: 50%;
  border-radius: 40px;
}

.toggle-btn span {
  font-size: 1.5rem;
  color: #d12c5e;
}

/*Sidebar - carrito*/
#sidebar-bkground {
  position: fixed;
  right: 0;
  top: 4rem;
  width: 100%;
  height: 100%;
  background-color: #a2231d;
  opacity: 0.5;
  right: -100rem;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
}

#sidebar-bkground.active {
  right: 0;
}

#sidebar {
  position: fixed;
  width: 15rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(233, 186, 188, 0)), color-stop(1%, rgba(233, 186, 188, 0.8)), to(rgba(233, 186, 188, 0.9)));
  background: linear-gradient(90deg, rgba(233, 186, 188, 0) 0%, rgba(233, 186, 188, 0.8) 1%, rgba(233, 186, 188, 0.9) 100%);
  -webkit-box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -15px 0 15px rgba(0, 0, 0, 0.1), inset 5px 0 5px rgba(0, 0, 0, 0.2), inset 10px 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -15px 0 15px rgba(0, 0, 0, 0.1), inset 5px 0 5px rgba(0, 0, 0, 0.2), inset 10px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  top: 4rem;
  right: -15rem;
}

#sidebar.active {
  right: 0;
}

#sidebar .divCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .divCarrito__img {
  width: 6rem;
  height: auto;
}

#sidebar .divCarrito__nombre {
  color: #d12c5e;
}

#sidebar .divCarrito__marca {
  color: #d12c5e;
  font-style: italic;
}

#sidebar .divCarrito__precio {
  color: #e2376a;
}

#sidebar .divCarrito__cantidad {
  color: #d12c5e;
}

#sidebar .divCarrito .botonEliminar {
  margin: 0 auto 2rem auto;
  background-color: #a2231d;
  color: #ffffbf;
  border: 1px solid rgba(100, 100, 100, 0.3);
  padding: 4px;
  opacity: 0.8;
}

#sidebar .divCarrito .botonEliminar:hover {
  opacity: 1;
}
/*# sourceMappingURL=estilos.css.map */