//imports
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
$fondo-principal:   #fffff6;
$color-crema: #ffffbf;
$color-amarillo:#f5e269;
$fondo-header: #fff0f0;
$color-text: #d12c5e;
$fondo-card: #fff0f0;
$color-card: #d12c5e;
$color-resaltado: #e2376a;
$color-carmin: #a2231d;
$color-confirmacion: #9ec024;
$sombra-color-resaltado: 1px 1px 0 rgba(209, 44, 94, 0.2);
$header-size: 4rem;


// DEFINO LAS VARIABLES AQUI PROVISORIAMENTE


*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    cursor: url(../image/cursor/cursor.png),auto;
}
a, button{
    cursor: url(../image/cursor/cursor_mano.png),auto;
}
 body{
    background-color: $fondo-principal;
 }
main{
    padding-top: 7rem;
}
#marca{
    display:none;
}
#slogan{
    display:none;
}

 /*_______________________________________HEADER________________________________________*/
header{
        height: $header-size;
        position: fixed;
        top:0;
        left: 0;
        padding-top: 0.5rem;
        z-index: 1;
        box-sizing: border-box;
        width: 100%;
        transition: all 1s linear;
        background-color: $fondo-header;
        box-shadow: -15px 0 15px rgba(0,0,0,0.1),
                    -10px 0 10px rgba(0,0,0,0.3),
                    -3px 0 3px rgba(0,0,0,0.4);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    & a{

        & img{
            height: 100%;
        }
    }
    /*_____________________________BOTONERA HEADER_________________________*/
    & ul{
        display: flex;
        & li{
            display: inline-block;
            height: 100%;
            list-style-type: none;
            letter-spacing: 0.15rem;
            margin-right: 1rem;
            padding: 3px 6px;
            border: 1px solid rgba(209,44,94,0.7);
            border-radius: 20px;

            & input{
                    border: none;
                    background-color: $fondo-header;
                    color: $color-text;
            }
            &:hover{
                background-color: $color-resaltado;
            }

            & a{
                text-decoration: none;
                color: $color-text;
                &:hover{
                    color: $color-crema;
                }
                & img{
                    height: 80%;
                    border-radius: 50px;
                }
            }
        }
    }
}


/*_______________________________ index main (NOSOTROS)___________________________________*/
.nosotros{
            & #tituloCentral{ //contenedor titulo central
                            width: 100%;
                            height: 600px;
                            margin-left: auto;
                            margin-right: auto;
                            display: flex;
                            flex-wrap: wrap;
                            align-items:center;
                            justify-content: center;
                            .carousel-personalizado{
                                transition: ease-in-out;
                                position: relative;
                                &__imagen{
                                            width: 80%;
                                            height: 80%;
                                }
                            }
                            .marca-slogan{
                                            width: 50%;
                                            display: flex;
                                            flex-direction: column;
                                            position: absolute;
                                            h1{
                                                font-family: 'Fleur De Leah', cursive;
                                                font-weight: 580;
                                                font-size: 3rem;
                                                color: $color-crema;
                                                text-shadow: 1px 1px 1px rgba(209,44,94,0.7);
                                            }
                                            h2{
                                                font-family: 'Fleur De Leah', cursive;
                                                font-weight: 400;
                                                font-size: 2.5rem;
                                                color: $color-crema;
                                                text-shadow: 1px 1px 1px rgba(209,44,94,0.7) ;
                                                align-self: flex-end;
                                            }
            }
            }
            & .saludoContainer{//contenedor del texto de bienvenida
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                p{
                    color: $color-text ;
                    text-shadow: 1px 1px 0 rgba(184, 75, 108, 0.1);
                    font-size: 1.3rem;
                    line-height: 1.5;
                    & span{
                            color: $color-resaltado;
                            text-shadow: $sombra-color-resaltado;
                    }
                    & .sloganTwo{
                                color: $color-resaltado;
                                text-shadow: $sombra-color-resaltado;
                                font-family: 'italianno', cursive;
                                font-size: 2.2rem;
                                font-weight: 500;
                    }
            }
            }
}


/*______________________________________________SECCION DESTACADOS index__________________________________*/

    .destacados {
                 width: 100%;
                max-width: 1200px;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                & a{
                    color:$color-card;
                    font-weight: 600;
                    margin: auto;
                    display: block;
                    width: 80%;
                    height: auto;
                    padding: 1rem;
                    box-shadow: inset -10px -10px 10px rgba(209,44,94,0.4),
                                inset -2px -2px 1px rgba(209,44,94,0.7),
                                inset 10px 10px 10px rgba(209,44,94,0.4),
                                inset 1px 1px 1px rgba(209,44,94,0.7),
                                -5px -5px 5px rgba(209,44,94,0.2),
                                -1px -1px 0 rgba(209,44,94,0.9),
                                1px 1px 0 rgba(209,44,94,0.9),
                                5px 5px 5px rgba(209,44,94,0.2);

                    text-decoration: none;
                    &:hover{
                            color: $color-carmin;
                            box-shadow: inset -15px -15px 15px rgba(162,35,29,0.5),
                                        inset -4px -4px 2px rgba(162,35,29,0.7),
                                        inset 15px 15px 15px rgba(162,35,29,0.5),
                                        inset 2px 2px 2px rgba(162,35,29,0.7),
                                        -5px -5px 5px rgba(162,35,29,0.3),
                                        -1px -1px 0 rgba(162,35,29,0.9),
                                        1px 1px 0 rgba(162,35,29,0.9),
                                        5px 5px 5px rgba(162,35,29,0.3);
                    }
                }
            }


.otrosProductos{
    height: 10rem;
}
footer{
    background-color: $fondo-header;
    display: flex;
    justify-content: space-between;
    & .redes{
        & ul{
            display:flex;
            justify-content:flex-start;
            & li{
                margin: 1rem;
                list-style-type: none;
                display: block;
                & a{
                    img{
                        cursor: url(../image/cursor/cursor_mano.png), auto;
                    }
                }
            }
        }
    }
    & .legales{
        margin: 1rem;
        color: $color-resaltado;


    }
}

/*_______________________________________________productos.html_____________________________________*/
#tituloCatalogo{
                width: 80%;
                margin: auto;

                & h1{
                    color: $color-text;
                    font-family: 'italianno',cursive;
                    font-size: 3rem;
                    margin-left: 2rem;
                }
                & p{
                    color: $color-text;
                    font-size: 1.3rem;
                    font-weight: 500;

                    & span{
                            color: $color-resaltado;
                    }
                }
}


#sectionCatalogo{
                width: 100%;
                max-width: 1200px;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;}
                .catalogo{
                        background-color: $fondo-card;
                        width: auto;
                        height: auto;
                        border-radius: 8px;
                        box-shadow: 0 2px 2px rgba(0,0,0,0.2),
                                    2px 2px 0px rgba(255, 203, 219, 1),
                                    inset 10px 10px 10px rgba(255, 203, 219, 0.7),
                                    inset -10px -10px 10px rgba(255, 203, 219, 0.7),
                                    -2px -2px 0px rgba(255, 203, 219,1);
                        overflow: hidden;
                        margin: 0.8rem;
                        text-align: center;
                        transition: all 0.25s;
                        &:hover{
                                transform: translateY(-15px);
                                box-shadow: 0 12px 16px rgba(0,0,0,0.2);
                        }
                        &__foto{
                            width: 100%;
                            height: auto;
                        }
                        &__productName{
                            display: flex;
                            justify-content: center;
                            &--nombre {
                                font-size: 1.5rem;
                                color:$color-card;
                                text-shadow: -2px -1px rgba(255,255,191,0.8),
                                                1px 1px rgba(0,0,0,0.2);
                                font-weight: 600;
                            }
                            &--marca {
                                color: $color-card;
                                text-shadow: 1px 1px rgba(0,0,0,0.2);
                                padding: 1rem;
                                font-size: 1.2rem;
                                font-style: italic;
                                font-weight: 500;

                            }
                        }
                        &__talle{
                            background-color: $color-crema;
                            color: $color-resaltado;
                            height: 1.5rem;
                            font-weight: 600;
                            border: 1px solid $color-text;

                            // &:active{
                            //     border:3px solid red;
                            // }



                            }
                            &__option{
                                background-color: $color-crema;
                                color: $color-text;
                                font-weight: 600;
                            }

                        &__precio{
                                color: $color-card;

                        }
                        &__compras{
                                    border-radius: 50px;
                                    & img{
                                        width: 50%;
                                    }
                                    &:hover{
                                            border: 2px solid rgba(209,44,94,0.7);
                                    }

                        }

                }


/*__________________ESTILOS CARRITO____________________________________________*/

/*Botón de carrito en el header*/
.toggle-btn{
    background-color: $fondo-header;
    cursor: url(../image/cursor/cursor_mano.png),auto;
                    & img{
                        width: 50%;
                        height: 50%;
                        border-radius: 40px;
                        cursor: url(../image/cursor/cursor_mano.png),auto;
                    }
                    & span{
                        font-size: 1.5rem;
                        color: $color-text;
                    }
}
/*Sidebar - carrito*/
#sidebar-bkground{
                    position:fixed;
                    top:$header-size;
                    width: 100%;
                    height: 100%;
                    background-color: $color-carmin;
                    opacity: 0.5;
                    right: -100rem;
                    transition: all 700ms linear;
                    cursor: url(../image/cursor/cursor_mano.png),auto;
                    &.active{
                        right: 0;
                    }
}


#sidebar{
        position:fixed;
        top:$header-size;
        width: 25rem;
        height: 90%;
        transition: all 500ms linear;
        overflow:scroll;
        right: -25rem;
        background:linear-gradient(90deg,rgba(233, 186, 188,0) 0%,rgba(255, 210, 210,1)1%,rgba(255, 210, 210,1)100%);
        box-shadow:-10px 0 10px rgba(0,0,0,0.3),
                    -15px 0 15px rgba(0,0,0,0.1),
                    inset 5px 0 5px rgba(0,0,0,0.2),
                    inset 10px 0 10px rgba(0,0,0,0.1);
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        & .miCarrito{
                    top: 0;
                    height: 20%;
                    margin-bottom: 2rem;
                & h5{
                    font-family: 'fleur de leah', cursive;
                    text-align: center;
                    font-size: 2.5rem;
                    color: $color-text;
                    margin-top: 2rem;
                }
        }
        & div .precioProducto{
                                font-family: 'italianno' , cursive;
                                font-size: 2rem;
                                color: $color-text;
                                & #precioTotal{
                                    font-size: 1.2rem;
                                }
        }
        &.active{
            right: 0;
        }
        .divCarrito{
                    margin-top: 1rem;
                    padding-bottom: 1rem;
                    display: grid;
                    align-items: center;
                    border-bottom: 1px dashed $color-text;
                    min-height: 10rem;
                    grid-template-areas: "imagen nombre nombre"
                                        "imagen marca marca"
                                        "imagen talle cantidad"
                                        "imagen precio precio"
                                        "imagen eliminar eliminar";
                    &__img{
                        width: 6rem;
                        height: auto;
                        grid-area: imagen;
                    }
                    &__nombre{
                        margin-left: 1rem;
                            color: $color-text;
                            grid-area: nombre;
                    }
                    &__marca{
                        margin-left: 1rem;
                            color: $color-text;
                            font-style: italic;
                            grid-area: marca;
                    }
                    &__talle{
                        margin-left: 1rem;
                            color: $color-text;
                            font-style: italic;
                            grid-area: talle;
                    }
                    &__precio{
                        margin-left: 1rem;
                                color: $color-resaltado;
                                grid-area: precio;
                    }
                    &__cantidad{
                        margin-left: 1rem;
                                color: $color-text;
                                grid-area: cantidad;
                    }
                    & .botonEliminar{
                                    margin: 0 auto 2rem auto;
                                    background-color: $color-carmin;
                                    color:$color-crema;
                                    font-style: 'italianno', cursive;
                                    border: 1px solid rgba(100, 100,100,0.3);
                                    padding: 4px;
                                    opacity:0.8;
                                    grid-area: eliminar;
                                    cursor: url(../image/cursor/cursor_mano.png),auto;
                                    &:hover{
                                        opacity:1;
                                    }
                    }
        }
        //estilos seleccion de medio de pogo
        .medioPago{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h5{
                        color: $color-text;
                    }
                    input[type="radio"]{
                        display: none;
                        &:checked + label{
                            padding: 5px 15px;
                            background: rgba(209,44,94,0.8) ;
                            border-radius: 2px;
                            color: $color-crema;
                            &::before{
                                display: none;
                            }
                        }


                    }
                    label{
                        cursor: url(../image/cursor/cursor_mano.png),auto;
                        font-size: 1rem;
                        border-radius: 3px;
                        color: $color-text;
                        padding: 5px 15px 5px 51px;
                        display: inline-block;
                        position: relative;
                        transition: all 0.3s ease;
                        &:hover{
                                background-color: rgba(209,44,94,0.2);
                        }
                        &:before{
                            content: "";
                            height: 17px;
                            width: 17px;
                            display: inline-block;
                            background:none;
                            border:3px solid $color-text;
                            border-radius: 50%;
                            position: absolute;
                            left: 17px;
                            top:10px ;
                        }
                    }

        }

        //Estilos botones CONFIRMAR y CERRAR
        .botoneraSidebar{
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 2rem;
                        & #btn-cerrar{
                                    margin-right: 1rem;
                                    width: 7.5rem;
                                    height: 4rem;
                                    padding: 0.5rem;
                                    font-family: 'italianno', cursive;
                                    font-size: 1.6rem;
                                    letter-spacing: 2px;
                                    font-weight: 500;
                                    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
                                                -1px -1px 1px rgba(0,0,0,0.2);
                                    border-radius: 40px;
                                    background-color: $color-carmin;
                                    color: $color-crema;
                                    cursor: url(../image/cursor/cursor_mano.png),auto;
                        }
                        & #btn-confirm{
                                    width: 7.5rem;
                                    height: 4rem;
                                    padding: 0.5rem;
                                    font-family: 'italianno', cursive;
                                    font-size: 1.7rem;
                                    letter-spacing: 1px;
                                    font-weight: 500;
                                    text-shadow: 1px 1px 1px rgba(0,0,0,0.7),
                                                -1px -1px 1px rgba(0,0,0,0.2);
                                    border-radius: 40px;
                                    background-color: $color-confirmacion;
                                    color: $color-crema;
                                    cursor: url(../image/cursor/cursor_mano.png),auto;
                                    & span{
                                        font-family: 'fleur de leah', cursive;
                                    }
                        }
        }
}

//________________________________FORM PAGO CON TARJETA______________________________________

.static-header{
    position: absolute;
    top: 0;
    left: 0;
}


.tj-main{
    background-color: $fondo-principal;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
        /*Contenedor principal TARJETA*/
        & .tj-container{
                        width: 90%;
                        max-width: 1000px;
                        padding: 40px 20px;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        //estilos tarjeta
                        & .tarjeta{
                                width: 100%;
                                max-width: 550px;
                                position: relative;
                                color: #fff;
                                transition: all 3s ease;
                                transform: rotateY(0deg);
                                transform-style: preserve-3d;
                                backface-visibility: hidden;
                                cursor:url(../image/cursor/cursor_mano.png),auto;
                                z-index: 2;
                                &.tj-active{
                                    transform: rotateY(180deg);
                                }
                                & > div{
                                    padding: 30px;
                                    border-radius: 15px;
                                    min-height: 315px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
                                }
/*__________________________ESTILOS DELANTEROS TARJETA___________________________*/
                                 & .tj-anverso{
                                    width: 100%;
                                    background:url(../image/tarjeta/fondo_tc.jpg);
                                    background-size: cover;
                                     & .tj-logo{
                                        text-align: right;
                                        min-height: 50px;
                                         & img{
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            max-width: 80px;
                                        }
                                    }
                                     & .tj-chip{
                                         max-height: 60px;
                                        width: 100%;
                                        max-width: 80px;
                                        margin-bottom: 20px;
                                    }
                                    & .grupo{
                                        & .tj-label{
                                            font-family: 'Courier Prime', monospace;
                                            font-size: 1.1rem;
                                            color: goldenrod;
                                            text-shadow: 2px 1px 0 rgba(50, 50, 50,0.9),
                                                        -1px -2px 0 rgba(50, 50, 50,0.9);
                                            margin-bottom: 5px;
                                            font-weight: 500;

                                        }
                                        & .tj-numero{
                                                    font-family: 'Courier Prime', monospace;
                                                    color: #fff;
                                                    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
                                                    font-size: 1.4rem;
                                                    text-transform: uppercase;
                                        }
                                        & .tj-nombre{
                                                    font-family: 'Courier Prime', monospace;
                                                    color: #fff;
                                                    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
                                                    font-size: 1.4rem;
                                                    text-transform: uppercase;
                                        }
                                        & .tj-vencimiento{
                                                        font-family: 'Courier Prime', monospace;
                                                        color: #fff;
                                                        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
                                                        font-size: 1.4rem;
                                                        text-transform: uppercase;
                                                        & span {
                                                            font-family: 'Courier Prime', monospace;
                                                        }

                                        }
                                    }
                                    & .flexbox{
                                            display: flex;
                                            justify-content: space-between;
                                            margin-top: 20px;
                                    }
                                }
/*_____________________________ESTILOS TRASEROS TARJETA DE CREDITO______________________*/
                                & .tj-reverso{
                                    background:url(../image/tarjeta/fondo_tc.jpg);
                                    background-size: cover;
                                    position: absolute;
                                    top:0;
                                    transform: rotateY(180deg);
                                    backface-visibility: hidden;
                                    & .barraMagnetica{
                                        height: 40px;
                                        background: #000;
                                        width: 100%;
                                        position: absolute;
                                        top: 30px;
                                        left: 0;
                                    }
                                    & .tj-datos{
                                        margin-top: 60px;
                                        display: flex;
                                        justify-content: space-between;
                                        & p{
                                            margin-bottom:5px ;
                                        }
                                        & #firma{
                                                width: 70%;
                                                & .tj-label{
                                                    font-family: 'Courier Prime', monospace;
                                                }
                                                & .tj-firma{
                                                    height: 40px;
                                                    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
                                                    & p{
                                                        line-height: 40px;
                                                        font-family: 'Mr Dafoe', cursive;
                                                        color:#000;
                                                        font-size: 1.9rem;
                                                        padding: 0 10px;
                                                        text-transform: capitalize;
                                                    }
                                                }
                                        }
                                        & #cvv{
                                            width: 20%;
                                            & .cvv{
                                                background: #fff;
                                                height: 40px;
                                                color: #000;
                                                padding: 10px;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    & .tj-leyenda{
                                                font-family: 'Courier Prime', monospace;
                                                font-size: 0.9rem;
                                                line-height: 24px;
                                    }
                                    & .link-banco{
                                        font-family: 'Courier Prime', monospace;
                                        font-size: 0.9rem;
                                        color: #fff;
                                    }
                                }
                        }
            /*Boton desplegar formulario*/
            & .contenedor-btn{
                & .btn-abrir-form{
                    width: 50px;
                    height: 50px;
                    background: $color-resaltado;
                    position: relative;
                    top: -25px;
                    z-index: 3;
                    border-radius: 100%;
                    box-shadow: -5px 4px 8px rgba(90,116,148,0.4);
                    padding: 5px;
                    transition: all 0.2s ease;
                    border: none;
                    cursor: url(../image/cursor/cursor_mano.png), auto;
                    & img{
                        cursor: url(../image/cursor/cursor_mano.png),auto;
                    }
                    &:hover{
                        background: $color-text;
                    }
                    &.btn-active{
                        transform: rotate(45deg);
                    }
                }
            }
        }
}
.formulario-tarjeta{
    background: $color-crema;
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.3s ease-out;
    &.form-active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    & label{
        display: block;
        color: $color-text;
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    & input{
            margin-bottom: 20px;
            text-transform: uppercase;
    }
    & select{
        appearance: none;
    }
    & input, select, .btn-enviar{
        border: 2px solid $fondo-header;
        font-size: 1.1rem;
        height: 50px;
        width: 100%;
        padding: 5px 12px;
        transition: 0.3 ease;
        border-radius: 5px;
    }
    & input:hover, select:hover{
        border: 2px solid $color-resaltado;
    }
    & input:focus, select:focus{
        outline: rgb(4,4,4);
        box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
    }
    & .flexbox{
        display: flex;
        justify-content: space-between;
    }
    & .vencimiento-form{
        width: 100%;
    }
    & .cvv{
        min-width: 100px;
    }
    & .grupo-select{
        width: 100%;
        margin-right: 15px;
        position: relative;
        & img{
            position: absolute;
            top: 18px;
            right: 15px;
            transition: all 3s ease;
        }

    }
    & .btn-enviar{
                border:none;
                padding: 10px;
                font-size: 1rem;
                color: #fff;
                background: $color-confirmacion;
                box-shadow: 2px 2px 10px 0 rgba(145, 165, 35,0.4);
                cursor: url(../image/cursor/cursor_mano.png),auto;
                &:hover{
                    background: #91a523;
                }

    }
}
.footer-tarjeta{
    position: absolute;
    bottom: -500px;
    width: 100%;
}

/*CIERRE TARJETA (MODAL)*/
#tj-modal{
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 400px;
    margin: 0 auto;
    background: rgba(209, 44, 94,0.3);
    border: 2px solid $color-text;
    position: relative;
    top: 150px;
    z-index: 4;
    transform-style: preserve-3d;
    transform:rotateY(180deg);
    backface-visibility: hidden;
    transition: all 3s ease;

    &.active{
        transform: rotateY(0);
    }
    & .tj-cierre{
        background:rgba(255, 240, 240,0.9);
        margin: 5% auto 0 auto;
        width: 80%;
        min-width: 400px;
        height: 100%;
        min-height: 300px;
        box-shadow: inset 1px 1px 1px 1px rgba(255,240,240,0.8),
                    1px 1px 1px 1px rgba(255,240,240,0.7),
                    3px 3px 3px 3px rgba(255,240,240,0.5),
                    5px 5px 5px 5px rgba(255,240,240,0.3),
                    inset -1px -1px 1px 1px rgba(255,240,240,0.8),
                    -1px -1px 1px 1px rgba(255,240,240,0.7),
                    -3px -3px 3px 3px rgba(255,240,240,0.5),
                    -5px -5px 5px 5px rgba(255,240,240,0.3);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    & .tj-modal-title{
        display: block;
        text-align: center;
        font-size: 3.5rem;
        font-family: 'fleur de leah', cursive;
        color: $color-text;
    }
    & #orderNumber{
        width: 100%;

        & .codigoCompra{
            width: 90%;
            margin: 0 auto;
            position: relative;
            text-align: right;
            & p{
                font-size: 2rem;
                color: $color-text;
                & span{
                        color: $color-resaltado;
                }
            }
        }
    }
    & .tj-cierre-btn{
                    justify-self: flex-end;
                    align-self: center;
                    border:none;
                    padding: 10px;
                    font-size: 1rem;
                    color: #fff;
                    border-radius: 20px;
                    background: $color-confirmacion;
                    box-shadow: 2px 2px 10px 0 rgba(145, 165, 35,0.4);
                    cursor: url(../image/cursor/cursor_mano.png),auto;
                    &:hover{
                        background: #91a523;
                    }
    }
}
}

//__________________CIERRE CARRITO (MODAL)____________________________
/*CIERRE TARJETA (MODAL)*/
#carrito-modal{
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
    background: rgba(209, 44, 94,0.3);
    border: 2px solid $color-text;
    position: fixed;
    top: 100px;
    left: 10%;
    z-index: 5;
    transform-style: preserve-3d;
    transform:rotateY(180deg);
    backface-visibility: hidden;
    transition: all 3s ease;

    &.active{
        transform: rotateY(0);
    }
    & .carrito-cierre{
        background:rgba(255, 240, 240,0.9);
        margin: 5% auto 0 auto;
        width: 80%;
        min-width: 400px;
        height: 100%;
        min-height: 300px;
        box-shadow: inset 1px 1px 1px 1px rgba(255,240,240,0.8),
                    1px 1px 1px 1px rgba(255,240,240,0.7),
                    3px 3px 3px 3px rgba(255,240,240,0.5),
                    5px 5px 5px 5px rgba(255,240,240,0.3),
                    inset -1px -1px 1px 1px rgba(255,240,240,0.8),
                    -1px -1px 1px 1px rgba(255,240,240,0.7),
                    -3px -3px 3px 3px rgba(255,240,240,0.5),
                    -5px -5px 5px 5px rgba(255,240,240,0.3);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    & .carrito-modal-title{
        display: block;
        text-align: center;
        font-size: 3.5rem;
        font-family: 'fleur de leah', cursive;
        color: $color-text;
    }
    & #orderNumber{
        width: 100%;

        & .codigoCompra{
            width: 90%;
            margin: 0 auto;
            position: relative;
            text-align: right;
            & p{
                font-size: 2rem;
                color: $color-text;
                & span{
                        color: $color-resaltado;
                }
            }
        }
    }
    & .carrito-cierre-btn{
                    justify-self: flex-end;
                    align-self: center;
                    border:none;
                    padding: 10px;
                    font-size: 1rem;
                    color: #fff;
                    border-radius: 20px;
                    background: $color-confirmacion;
                    box-shadow: 2px 2px 10px 0 rgba(145, 165, 35,0.4);
                    cursor: url(../image/cursor/cursor_mano.png),auto;
                    &:hover{
                        background: #91a523;
                    }
    }
}
}
